{% extends 'med/base.html' %}
{% load static %}

{% block content %}

<center><h3>История компании</h3></center>
Наша компания была основана в 2000 году с целью предоставления высококачественных услуг в области медицинской диагностики. Мы стремимся помочь людям сохранить здоровье и вовремя выявить возможные проблемы.

С момента основания нашей компании мы постоянно развиваемся и совершенствуем свои услуги. Мы используем современное оборудование и передовые методы исследования, чтобы обеспечить точность и надёжность результатов. Наши специалисты имеют большой опыт работы и постоянно повышают свою квалификацию.

Мы работаем с пациентами всех возрастов и предоставляем услуги как в частных, так и в государственных медицинских учреждениях. Наша цель — сделать медицинскую диагностику доступной для каждого человека.

За время существования нашей компании мы помогли многим людям получить своевременную и точную диагностику. Мы гордимся тем, что можем внести свой вклад в сохранение здоровья людей.

В будущем мы планируем продолжать развиваться и расширять спектр предоставляемых услуг. Мы хотим стать ещё ближе к нашим клиентам и предоставлять им ещё более качественные услуги.
<br><br>
<center><h3>Миссия</h3></center>
Мы стремимся помочь людям сохранить здоровье и вовремя выявить возможные проблемы. Мы предоставляем высококачественные услуги в области медицинской диагностики, чтобы наши клиенты могли быть уверены в своём здоровье.
<br><br>
<center><h3>Ценности:</h3></center>
<br>

Профессионализм. Мы используем современное оборудование и передовые методы исследования, чтобы обеспечить точность и надёжность результатов. Наши специалисты имеют большой опыт работы и постоянно повышают свою квалификацию.
Ответственность. Мы несём ответственность за качество предоставляемых услуг и результаты исследований. Мы гарантируем конфиденциальность информации о наших клиентах.
Доступность. Мы стремимся сделать медицинскую диагностику доступной для каждого человека. Мы работаем с пациентами всех возрастов и предоставляем услуги как в частных, так и в государственных медицинских учреждениях.
Забота о клиенте. Мы заботимся о здоровье наших клиентов и готовы предоставить им необходимую помощь и поддержку.
<br><br>
<center><h3>Наши Специалисты</h3></center>
<br>


<div class="container">
    <div class="row text-center">
        {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow border-dark h-100">
                <div class="card text-bg-dark border-dark mb-2 h-100" style="max-width: 30rem;">
                    <h4 class="my-0 font-weight-normal">{{ product.first_name}}</h4>
                    <h1 class="card-title pricing-card-title">{{ product.last_name }}</h1>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>


        {% endfor %}
{% endblock %}