{% extends 'med/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="container marketing" xmlns="http://www.w3.org/1999/html">

    <div class="nav-scroller py-1 mb-2">
        <a class="btn btn-success my-6" href="{% url 'med:appointments_archive' %}">Архив прошедших записей</a>

    </div>
    <div class="card mb-4 box-shadow">
    </div>
    <div class="col-12 text-center">
        <a>Мои записи на прием</a>
        <p></p>
    </div>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% for object in object_list %}
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h3 class="my-0 font-weight-normal">{{ object.services.title }}</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <h4>Стоимость: {{ object.services.price }} руб.</h4>
                            <h4>Врач: {{ object.doctor}}</h4>
                            <h4>Дата и время: {{ object.date }}</h4>
                            {% if object.result %}
                            <h4>Результат: {{ object.result }}</h4>
                            {% else %}
                            <h4>Результат: </h4>
                            {% endif %}
                            <button class="btn btn-lg btn-block btn-dark" type="submit"
                                    formaction="{% url 'med:appointments_cancel' object.pk %}">Отменить прием
                            </button>
                        </ul>
                    </div>
                </div>

                {% endfor %}
            </div>
        </form>
    </div>

</div>
{% else %}
<h3>Просмотр записей на прием к врачу, доступен только зарегистрированных пользователей</h3>
<h4>Пожалуйста, зарегистрируйтесь!</h4>
{% endif %}

{% endblock %}