{% extends 'med/base.html' %}
{% load static %}

{% block content %}
<style>
      strong {
        color: red; /* задаёт красный цвет текста */
      }
</style>


<div class="row">
    <div class="col-16">
        <p class="text-dark" style="font-size: 18px;">Мы — команда профессионалов в области медицинской диагностики. Наша цель — предоставить вам высококачественные услуги, чтобы вы могли быть уверены в своём здоровье.

<br>Наша компания предлагает широкий спектр услуг по диагностике различных заболеваний. Мы используем современное оборудование и передовые методы исследования, чтобы обеспечить точность и надёжность результатов.

<br>Наши специалисты имеют большой опыт работы и постоянно повышают свою квалификацию. Мы следим за последними тенденциями в медицине и внедряем новые технологии в свою работу.


</p>
    </div>
</div>
<br>
<br>

<main role="main" class="container">
    <h3 class="mb-0">
        <a class="text-dark" style="font-size: 26px;"></a>
    </h3>
    <div class="container">
        <div class="col-md-8 blog-main" style="font-size: 26px;">
            {% for object in object_list %}
            <p><a href="{% url 'med:speciality_detail' object.pk %}"> {{object.title}}
            </a></p>
            {% endfor %}
        </div>
<br>
<br>
<br>
<br>
<div class="row">
    <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">О нас:</h4>
            <p class="mb-12"> Рога и Копыта. Все лучшее для Вас! </p>
        </div>
        <hr class="featurette-divider">
        <div class="p-3">
            <h4 class="font-italic">Мы в соцсетях</h4>
            <ol class="list-unstyled">
                <p><a href="https://github.com/Yambur/">GitHub</a></p>
            </ol>
        </div>
    </aside><!-- /.blog-sidebar -->
</div>
    </div><!-- /.row -->

</main><!-- /.container -->

{% endblock %}