{% extends 'med/base.html' %}
{% load static %}

{% block content %}
<style>
      strong {
        color: red; /* задаёт красный цвет текста */
      }
</style>


<div class="row">
    <div class="col-16">
        <p class="text-dark" style="font-size: 18px;">Мы — команда профессионалов в области медицинской диагностики. Наша цель — предоставить вам высококачественные услуги, чтобы вы могли быть уверены в своём здоровье.

<br>Наша компания предлагает широкий спектр услуг по диагностике различных заболеваний. Мы используем современное оборудование и передовые методы исследования, чтобы обеспечить точность и надёжность результатов.

<br>Наши специалисты имеют большой опыт работы и постоянно повышают свою квалификацию. Мы следим за последними тенденциями в медицине и внедряем новые технологии в свою работу.


</p>
    </div>
</div>
<br>
<br>

<main role="main" class="container">
    <h3 class="mb-0">
        <a class="text-dark" style="font-size: 26px;"></a>
    </h3>
    <div class="container">
        <div class="col-md-8 blog-main" style="font-size: 26px;">
            {% for object in object_list %}
            <p><a href="{% url 'med:speciality_detail' object.pk %}"> {{object.title}}
            </a></p>
            {% endfor %}
        </div>
<br>
<br>
<br>
<br>

    </div><!-- /.row -->
</div>
        <div class="row text-start">
        <div class="col-lg-3 col-md-6 col-sm-6 offset-md-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">

                            <td class="w-25">Телефон:</td>
                            <td>+7 777 777 77 77</td>
                        </tr>
                        <tr>
                            <td class="w-25">Email:</td>
                            <td>Med@X.ru</td>
                        </tr>
                        <h3>Контакты</h3>
                    </table>
                    <h3>Подробнее</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 offset-md-1">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Телефон</label>
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон" required>
                        </div>
                        <div class="mb-3">
                            <label for="message">Сообщение</label>
                            <textarea type="text" name="message" class="form-control" id="message" placeholder="Ваше сообщение" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-dark">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main><!-- /.container -->

{% endblock %}
